body {
 /* Farben */
 color: #000000;
 background-color: #f6f0d9/*#f6eecd*/;
 /* Dekoration */
 text-align: center;
}
#banner {
margin-left: 10px;
float: right;
}
#container1 {
width: 1002px;
margin: 0 auto;
}
#container {
 /* Masse */
 width: 902px;
 height: 100%;
 margin: 0 auto;
 margin-top: 15px;
 margin-bottom: 15px;
 /* Farben */
 color: #000000;
 background-color: #f6f0d9;
 /* Dekoration */
 border: none;
 text-decoration: none;
 text-align: left;
 /* Schrift */
 font-size: 1em;
 font-weight: normal;
 font-family: sans-serif,'FreeUniversal';
}
#language {
 /* Masse */
 width: 902px;
 height: 100%;
 margin-top: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Schrift */
 font-size: 0.8em;
 color: #ec793a;
 font-weight: bold;
 /* Dekoration */
 background-color: #f2d2ac;
}
#logo {
 /* Masse */
 width: 902px;
 height: 214px;
 margin-top: 2px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-image: url(logo4.png);
}
#nav1 {
 /* Masse */
 width: 902px;
 height: 30px;
 margin-top: 5px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #f1b671;
}
#nav1 div.nav {
 float:left;
 padding: 3px;
 margin-top: 5px;
 margin-left: 3px;
 margin-right: 3px;
 margin-bottom: 5px;
 color: #f2d2ac;
 font-size: 1.1em;
 font-weight: bold;
 border: solid 2px;
 border-color: #f2d2ac;
 background-color: #f1b671;
}
#nav1 a:link {
 	font-size: 0.9em;
 	font-weight: bold;
 	text-decoration: none;
 	color: #ffffff;
	}
#nav1 a:visited {
        font-size: 0.9em;
 	font-weight: bold;
 	text-decoration: none;
 	color: #ffffff;
}
	#nav1 div:hover {
	margin-bottom: 3px;
	border: solid 3px;
}
#nav1 div.nav2 {
 float:left;
 padding: 3px;
 margin-top: 5px;
 margin-left: 3px;
 margin-right: 3px;
 margin-bottom: 5px;
 color: #f2d2ac;
 font-size: 1.1em;
 font-weight: bold;
 border: solid 2px;
 border-color: #f2d2ac;
 background-color: #f1b671;
}


#mainframe {
 /* Masse */
 width: 900px;
 height: 100%;
 margin-top: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 text-align: left;
  background-color: #f6f0d9;
}
#left {
 /* Masse */
 float: left;
 height: 100%;
 width: 593px;
 margin-top: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #ffffff;
}
#body {
 /* Masse */
 width: 593px;
 margin-top: 7px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 text-align: center;
 background-color: #ffffff;
 /* Schrift */
 font-family: sans-serif;
}
	#body h3.c1 {
	margin-left: 5px;
 	text-align: center;
 	margin-left: 8px;
 	color: #e79a41;
 	/*text-shadow: rgba(64, 64, 64, 0.496094) 6px 7px 5px;*/
	}
	#body p.c1 {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 1.1em;
        font-style: italic;
        color: #a09a9a;
	}
	#body p.c2 {
	text-align: justify;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 0.9em;
	}
	#body div.more {
	margin-left: 425px;
	font-size: 0.9em;
}
        #body img.pub {
        margin-left: 65px;
        }
	#body div.cal {
	width: 540px;
 height: 100%;
 padding: 10px;
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: justify;
 border: 1.5px dotted;
 border-color: #f2d2ac;
 /* Schrift */
 font-size:
 font-family: 'FreeUniversal', sans-serif;
 color: #000000;
        }
#body div.cal a:link,visited {
color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#body div.cal a:hover {
color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: underline;
}
#fotobox {
 margin-top: 20px;
 text-align: center;
}
#aktuell {
 width: 593px;
 margin-top: 50px;
 margin-bottom: 25px;
}
	#aktuell h4.c1 {
	margin-left: 25px;
 	color: #ec793a;
	}
	#aktuell div.c2 {
	margin-left: 35px;
	margin-right: 15px;
	}
	#aktuell div.extra {
	padding: 5px;
	margin-left: 35px;
	margin-right: 15px;
    background-color: #f2d2ac;
	}
#aktuell a:link,visited {
  color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#aktuell a:hover {
 color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: underline;
}
#summary {
 margin-top: 5px;
 margin-bottom: 20px;
 margin-left: 10px;
 font-size: 0.8em;
 color: #f2d2ac ;
}
#summary a:link {
	 color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
	}
#summary a:hover {
	 color: #ec793a;
	 font-weight: normal;
 	font-style: normal;
 	text-decoration: underline;
}
#summary a:visited {
    color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#miecher_1 {
width: 593px;
height: 284px;
background-image: url(miecher_1.png);
}
#aktiv-body {
text-align: justify;
margin-left: 25px;
margin-right: 25px;
}
#aktiv-body h3.c2 {
 margin-left: 15px;
 color: #ec793a;
}
#aktiv-body ul.c2 {

}
#comite-title {
 /* Masse */
 width: 563px;
 height: 100%;
 margin-top: 25px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 background-color: #f2d2ac;
 /* Schrift */
 font-size: 1em;
 font-weight: bold;
 font-family: 'Karla', sans-serif;
 color: #ffffff;
}
#comite {
 /* Masse */
 width: 560px;
 height: 100%;
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: left;
 border: 1.5px dotted;
 border-color: #f2d2ac;
 /* Schrift */
 font-size:
 font-family: 'FreeUniversal', sans-serif;
 color: #000000;
}
#comite ul.comite {
 margin-top: 7px;
 margin-bottom: 7px;
 list-style-image: url(grafiken/list_c_small.gif);
}
#history {
 /* Masse */
 width: 560px;
 height: 365px;
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: left;
 border: 1.5px dotted;
 border-color: #f2d2ac;
 /* Schrift */
 font-size:
 font-family: 'Karla', sans-serif;
 color: #000000;
}
#history img.gkayser {
 float:left;
 margin-right: 10px;
}
#body img.gkayser1 {
 float:right;
 margin-right: 10px;
}
#body div.break {
 clear: both;
}
#history ul.history {
 margin-left: 220px;
 margin-right: 15px;
 list-style-image: url(grafiken/list_c_small.gif);
}
#body div.title {
/* Masse */
 width: 563px;
 height: 100%;
 margin-top: 25px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 background-color: #f6f0d9;
 /* Schrift */
 font-size: 1em;
 font-weight: bold;
 font-family: 'Karla', sans-serif;
 color: #ec793a;
 /*color: #ffffff;*/
}
#body div.body1 {
/* Masse */
 width: 560px;
 height: 100%;
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: justify;
 border: 1.5px dotted;
 border-color: #f2d2ac;
 /* Schrift */
 font-size:
 font-family: 'FreeUniversal', sans-serif;
 color: #000000;

}
#body div.body1 a:link {
	 color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
	}
#body div.body1  a:hover {
	 color: #ec793a;
	 font-weight: normal;
 	font-style: normal;
 	text-decoration: underline;
}
#body div.body1 a:visited {
color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#body ul.c2 {
 padding-right: 10px;
 list-style-image: url(grafiken/list_c_small.gif);
}
#body div.body2 {
/* Masse */
 width: 560px;
 height: 100%;
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: justify;
 border: none;
 border-color: #f2d2ac;
 /* Schrift */
 font-size: 1em;
 font-family: 'FreeUniversal', sans-serif;
 color: #000000;

}
#body img.gkayser {
 float:left;
 margin-right: 10px;
}
#body div.c3 {
width: 563px;
height: 100%;
margin-top: 25px;
margin-left: 25px;
margin-right: 25px;
margin-bottom: 15px;
border: /*1px solid;*/
border-color: #ec793a;
}
#body p.pub {
margin-left: 5px;
margin-right: 20px;
text-align: justify;
font-style: italic;
}
#body div.c3 a:link {
color:#ec793a;
}
#body div.c3-title {
margin-top: 7px;
margin-left: 7px;
margin-bottom: 4px;
text-align: left;
font-size: 1em;
font-weight: bold;
color: #ec793a;
background-image: url(grafiken/gradient_1.png);
}
#body div.c3-body {
margin-left: 10px;
margin-right: 10px;
color: #ec793a;

}
#body div.c3-body-member {
text-align: justify;
margin-left: 10px;
margin-right: 10px;
color: #ec793a;

}
#body img.siege {
float: right;
margin-top: 5px;
margin-left: 8px;
margin-right: 0px;
margin-bottom: 5px;
}
#right {
 /* Masse */
 width: 300px ;
 margin-top: 0px;
 margin-left: 602px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #f2d2ac;
}
	#right div.title {
 	color: #ffffff;
 	font-weight: bold;
	}
	#right div.sidebar_link {
 	font-size: 0.9em;
 	margin-left: 150px;
	}
#calendar-title {
 /* Masse */
 width: 292px;
 height: 100%;
 margin-top: 12px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #f1b671;
 padding: 4px;
}
#calendar {
}
	#calendar ul.calendar {
 	list-style-image: url(grafiken/list.gif);
	}
	#calendar a:link {
	 color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
	}
	#calendar a:hover {
	 color: #ec793a;
	 font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#calendar a:visited {
color: #ec793a;
	font-weight: normal;
 	font-style: normal;
 	text-decoration: none;
}
#member-title {
 /* Masse */
 width: 292px;
 height: 100%;
 margin-top: 5px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #f1b671;
 padding: 4px;
}
#member {
 margin-top: 0px;
 margin-left:0px;
 margin-bottom: 0px;
 /* Dekoration */
 text-align: center;
}
	#member a:link {
 	font-size: 1.1em;
 	font-weight: bold;
 	text-decoration: none;
	color: #ec793a;
	}
	#member a:hover {
 	font-size: 1.1em;
 	font-weight: bold;
 	color: #ec793a;
 	text-shadow: rgba(64, 64, 64, 0.496094) 0px 4px 2px;
	}
#member a:visited {
	font-size: 1.1em;
 	font-weight: bold;
 	text-decoration: none;
	color: #ec793a;
}
#sponsor-title {
 width: 292px;
 height: 100%;
 margin-top: 5px;
 margin-left: 0px;
 margin-bottom: 0px;
 /* Dekoration */
 background-color: #f1b671;
 padding: 4px;
}
#sponsor {
  background-color: #f6f0d9;
 border: 1.5px dotted;
 border-color: #f1b671;
 font-size: 0.9em;
 font-weight: normal;
 list-style-image: url(grafiken/list_small.gif);
}
#bottom {
 /* Masse */
 float:left;
 width: 902px;
 height: 100%;
 margin-top: 7px;
 margin-left: 0px;
 margin-bottom: 15px;
 /* Dekoration */
 text-align: center;
 background-color: #f2d2ac;
}
	#bottom address.c1 {
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 0.9em;
	font-weight: bold;
	font-style: normal;
	color: #ec793a;
	}
#top {
margin-bottom: 5px;
margin-right: 5px;
text-align: right;

}
#top a:link,#top a:hover,#top a:visited {
	color: #ec793a;
	font-weight: bold;
 	font-style: normal;
	font-size: 0.8em;
 	text-decoration: none;

	}
